body{
  height: 100vh;
  background: linear-gradient(0deg, rgba(82,147,186,1) 11%, rgba(211,231,245,1) 100%);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}